- Интерфейс содержит возможность просмотр товаров, их фильтрацию, а так же добавление в корзину.
- Вёрстка должна быть адаптивной для телефон.
- Приложение является SPA.
- На странице товара нужно выводить название товара, его рейтинг, цена со скидкой и без неё
- После добавление товара в корзину, пользователь может дальше просматривать товары и добавлять в корзину.
- На странице корзины пользователь может удалять свои товары.
- Корзина будет хранится в сессии браузера
